# Arquivos de Build
HELP.md
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Dependências do Maven/Gradle
.mvn/wrapper/maven-wrapper.jar
/build/
!**/src/main/**/build/
!**/src/test/**/build/

# IDEs (IntelliJ, STS, VS Code, NetBeans)
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Configurações de Segurança e Ambiente 🔒
########################################
# Ignora arquivos de configuração local com credenciais
/src/main/resources/application.properties
/src/main/resources/application.yml

# Arquivo de variáveis de ambiente (MELHOR PRÁTICA)
.env
